.App {
  /* background-image: url("https://pin.it/6Uglhhk"); */
  background-color: rgb(26, 15, 39);
  background-size: cover;
  /* padding: 0;
  margin: 0; */
  background-repeat: no-repeat;
}
 /* body{
 background-size: cover;
 background-repeat: no-repeat;

}  */
/* 
https://pin.it/6Uglhhk
*/
